@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .odd-center {
      grid-column: span2;
      justify-self: center;
    }
  }
  
:root{
  --font-urban:"Urban", sans-serif;
}  